/* Google fonts start */
  /* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  /* font-family: 'Courgette', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Google fonts end */

/* Styles */
* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-image: url("./images/login-background-image.png");
  /* background-color: whitesmoke; */

  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar start */
nav {
  background-color: white;
}

.navbar img {
  width: 270px;
  height: 70px;
  margin: 0 50px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav li {
  margin: 0 20px;
  font-size: 1.4em;
}

.navbar-nav li a {
  border-bottom: 3px solid transparent;
}

.navbar-nav li a:hover {
  border-bottom: 3px solid crimson;
  /* color: aliceblue !important; */
  transition: 0.5s;
}
/* Navbar end */

/* Content wrapper start */
.content-wrapper {
    border-radius: 25px;
    background-color: white;    
}

.login-section h1 {
    font-weight: bolder;
    text-align: center;
}

.forgot-password {
    text-align: right;
    font-size: 0.85rem;
}

.log-in-btn {
    background-color: #42b72a;
    color: white;
    font-weight: bold;
}

.sign-up {
    text-align: center;
    font-size: 0.85rem;
}
/* Content wrapper end */

/* Display image start */
.display-image-section img {
    height: 100vh;
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* Display image end */