/* Google fonts start */
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Google fonts end */

/* Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/login-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Navbar start */
nav {
    background-color: white;
}

.navbar img {
  width: 270px;
  height: 60px;
  margin: 0 50px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav li {
  margin: 0 20px;
}

.navbar-nav li a {
  border-bottom: 3px solid transparent;
  font-size: 1.3rem;

}

.navbar-nav li a:hover {
  border-bottom: 3px solid crimson;
  /* color: aliceblue !important; */
  transition: 0.5s;
}
/* Navbar end */

/* Content wrapper start */
.content-wrapper {
    border-radius: 25px;
    background-color: white;    
}

.login-section h1 {
    font-weight: bolder;
    text-align: center;
}

.forgot-password {
    text-align: right;
    font-size: 0.85rem;
}

.log-in-btn {
    background-color: #42b72a;
    color: white;
    font-weight: bold;
}

.sign-up {
    text-align: center;
    font-size: 0.85rem;
}
/* Content wrapper end */

/* Display image start */
.display-image-section img {
    height: 461px;
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* Display image end */



/* Media quries start */
    /* To change the height and width of navbar image in small-screen devices. */
@media screen and (max-width: 550px) {
  .navbar img {
    width: 200px;
    height: 70px;
    margin: 0 5px;
  }
}

    /* To change the height and width of navbar image on extra small-screen devices. */
@media screen and (max-width: 300px) {
  .navbar img {
    content: url("../../images/title.png") !important;
    width: 170px;
  }
}

    /* To adjust the width of the container on extra small-screen devices. */
@media screen and (max-width: 576px) {
    .container {
        margin: 0 1rem;
        width: auto;
    }    
}
/* Media quries end */